:root {
  --outlines: rgba(0,0,0,1);
  --white_bright: rgba(250,250,250,1);
  --white_fade: rgba(1, 1, 1, 0.1);
  --blue_fade: rgba(200,230,300,0.90);
  --modal_back: rgba(0, 0, 0, 0.4);
  --modal_front: rgba(220, 100, 150, 0.92);
  --violet: rgba(238, 130, 238, 1.0);
  --violet_fade: rgba(238, 130, 238, 0.92);
  --invisible: rgba(247, 247, 247, 0.0);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0px;
  overflow: hidden;
  display: block;
  font-family: 'Helvetica', sans-serif;
}

hr {
  color: var(--white_bright)
}

button {
  font-size: 40px;
  width: 48px;
  padding: 4px;
  margin-right: 8px;
  margin-top: 8px;
  border-style: solid;
  border-color: var(--outlines);
  border-width: 3px;
  border-radius: 5px;
  background-color: var(--blue_fade);
  transition-duration: 1s;
  text-decoration: none;
}

button:hover {
  font-size: 40px;
  width: 48px;
  padding: 4px;
  margin-right: 8px;
  border-radius: 8px;
  background-color: var(--white_bright);
  text-decoration: none;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--violet);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--violet);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--violet);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--violet);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: var(--violet);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--violet);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--violet);
}

#sliders {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  width: 100%;
  overflow: hidden;
  display: inline-block;
}

#sliders .items {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: auto;
}

#sliders .item {
  padding: 10px;
  display: inline-block;
}

#canvas {
  position: absolute;
  z-index: 1;
}

#panel {
  background-color: var(--invisible);
  z-index: 2;
  width: fit-content;
  height: fit-content;
  padding: 0px;
}

.center {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

/* About Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 26vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--modal_back);
  transition: background-color .5s ease-in;
}

/* Modal Content */
.modal-content {
  font-size: 12pt;
  background-color: var(--violet_fade);
  margin: auto;
  padding: 20px;
  border: 2px solid var(--outlines);
  width: 50vw;
}

/* Close Button */
.close {
  color: var(--white_bright);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.deblur {
  animation: deblur 4s normal 1;
  animation-fill-mode: forward;
  animation-play-state: paused;
}

.deblur:hover {
  animation-play-state: running;
}

@keyframes deblur {
  0% {
    filter: blur(4px);
  }
  100% {
    filter: blur(0px);
  }
}
