html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0px;
    overflow: hidden;
    display: block;
}

hr {
    color: rgba(1,1,1,0.1)
}

a:link { color: black; }
a:visited { color: black; }
a:hover { color: violet; }
a:active { color: white; }

button {
   font-family: 'Helvetica', sans-serif;
   font-size: 12pt;
   padding:2px; 
}

input[type=range] {
    accent-color: hotpink;
}

#sliders {
    font-family: 'Helvetica', sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    display: inline-block;
}

#sliders .items {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: auto;
}

#sliders .item {
    padding: 10px;
    display: inline-block;
}

#canvas {
    position: absolute;
    z-index: 1;
}

#panel {
    background-color: rgba(247, 247, 247, 0);
    z-index: 2;
    width: fit-content;
    height: fit-content;
    padding: 0px;
}

.center {
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    padding-top: 20; 
    height: 100%;
}

/* About Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 26vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  font-family: 'Helvetica', sans-serif;
  font-size: 12pt;
  background-color: rgba(220,100,150,0.80);
  margin: auto;
  padding: 20px;
  border: 2px solid rgba(250,250,250,0.5);
  width: 50vw;
}

/* Close Button */
.close {
  color: rgba(250,250,250,1);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.deblur{
  animation: deblur 4s normal 1;
  animation-fill-mode: forward;
  animation-play-state: paused;
}

.deblur:hover {
  animation-play-state: running;
}

@keyframes deblur {
  0%  {filter: blur(4px); }
  100%  {filter: blur(0px); }
}
